#no-mobile {
    position: absolute;
    z-index: 99;
    height: 1000vh;
    /*width가 넓으면 같이 안보여야 하므로 1000vh까지 늘림*/
    background-color: var(--yellow);
    width: 100vw;
    top: 0;
    /*만약 height:100vh이고 
    여기에 아래 코드를 작성할 경우 스크롤을 아래로 내리면
    숨겨져있던 화면이 나오기 떄문에
    height는 일반 화면과 동일하게 height:1000vh로 했고,
    span에서 조정하도록 변경했다. */
    /*
display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    */
}

#no-mobile span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    padding-top: 300px;
}

@media screen and (max-width: 645px) and (max-height:680px) {
    #no-mobile {
        display: none;
    }
}